---
layout: default
aboutEvent: Responsible AI is a series of workshops that will introduce you to the basics of AI and how it can be used in scholarly research. 
---
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div style="overflow:hidden;">
          <iframe style="width:100%; height: 100vh; position:absolute; z-index: 2; opacity: 0.1;" src="https://alteredqualia.com/xg/examples/abstract_mountains.html" frameborder="0"></iframe>
          <!-- Visualization by Amanda Ghassaei, https://amandaghassaei.com/   -->
    <div class="hero-container" >
    <img height="150" src="/assets/img/noun-sparkles-7598231-00449F.png" / >
    <h2 class="mb-4 pb-0" style="color: black;">Responsible AI</h2>
    <a target="_blank" href="#schedule" class="about-btn scrollto">Schedule</a>
    
    <h4 style="color:black;">A series of workshops and collaborative sessions where<br> researchers can learn about recent developments<br> in generative AI. </h4>
   
    </div>
  </div>
  
 
</section><!-- End Hero Section -->
 
 
<main id="main">
 

  <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Schedule</h2>
          <p>The responsible AI workshop series will focus this Spring on the multimodal capabilities of generative AI models. These sessions will be of interest to anyone working with images, video, or audio materials. We’ll investigate the new capabilities of vision-language models and connect them with the needs of academic researchers.</p>
        </div>

        
        
        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          </p>
          <!-- Schedule Day 1 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>January 28, 2026, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>Visual reasoning and chain of thought</h4>
                <p>Recent models can reason about the visual contents of images. These models can “think aloud” about the meaning and relationships between objects. This capability enables more effective recognition of signs and other visual information, including their contextual information within the image. How might this capability further visual analysis, interpretation, and distant viewing?</p>
              <br>
              <button type="button" class="btn btn-light">Registration available soon</button>
                {# <a href="https://libcal.princeton.edu/event/16041508"><button type="button" class="btn btn-light">Register here</button></a> #}
              </div>
            </div>
             
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schedule Day 2 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-2">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>February 25, 2026, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>Visual tool calling</h4>
                <p>Multimodal AI models can include visual tools that enable them to manipulate images or retrieve external information. A zoom tool can be used to focus on a specific section of a painting. A reverse image search tool can find similar images across the Web. This visual search can retrieve metadata that improves the recognition and interpretation of visual information. We will begin with existing visual tools and consider which additional tools could aid research.</p>
                <br>
                <button type="button" class="btn btn-light">Registration available soon</button>
                {# <a href="https://libcal.princeton.edu/event/16041988"><button type="button" class="btn btn-light">Register here</button></a> #}
              </div>
            </div>
             
          </div>
         
          <!-- Schedule Day 4 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-4">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>April 1, 2026, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>Video and temporal understanding</h4>
                <p>Vision-language models can process video and image series. Additionally, they are trained to ground their response in time.  This allows them to indicate when a particular event or shift occurs in the film. This session will explore the use of vision-language models for the analysis and interpretation of moving images.</p>
                <br>
                <button type="button" class="btn btn-light">Registration available soon</button>
                {# <a href="https://libcal.princeton.edu/event/16042206"><button type="button" class="btn btn-light">Register here</button></a> #}
              </div>
            </div>
             
          </div>
          
          
        </div>

      </div>

    </section><!-- End Schedule Section -->

<section id="venue" class="venue section">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Location<br></h2>
      </div><!-- End Section Title -->

      <div class="container-fluid aos-init aos-animate" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 venue-map">
          <iframe src="https://campusmap.princeton.edu/?poiIdViaMap=5947" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Commons Library Classroom (D112)</h3>
                <p></p>
                <div >
            <div class="venue-gallery">
              <a href="" class="glightbox" data-gall="venue-gallery">
                <img src="https://library.princeton.edu/sites/g/files/toruqf6021/files/styles/16x9_750w_422h/public/2025-07/20250729_brj_commonsempty_0010.jpg?itok=p3r0UEW7" alt="" class="img-fluid">
              </a>
            </div>
          </div>
              </div>
            </div>
          </div>
        </div>

      </div>

     
      

    </section>
