---
layout: default
aboutEvent: A virtual conference featuring work by members of the ACH community.

---
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div style="overflow:hidden;">
          <iframe style="width:100%; height: 100vh; position:absolute; z-index: 2; opacity: 0.1;" src="https://glittery-clafoutis-927ba9.netlify.app/" frameborder="0"></iframe>
          <!-- Visualization by Amanda Ghassaei, https://amandaghassaei.com/   -->
    <div class="hero-container" >
    <img height="150" src="/assets/img/noun-sparkles-7598231-00449F.png" / >
    <h1 class="mb-4 pb-0"><span class="ach">Responsible</span>AI</h1>
    <a target="_blank" href="#schedule" class="about-btn scrollto">Schedule</a>
    </div>
  </div>
  
 
</section><!-- End Hero Section -->
 
 
<main id="main">
 {% if settings.about %}
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>About</h2>
          <p>{{ aboutEvent }}</p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Virtual</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Wednesday to Friday<br>11 June -- 13 June 2025</p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
  {% endif %}

  <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Schedule</h2>
          <p></p>
        </div>

        

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <!-- Schedule Day 1 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>August 27, 2025, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>Studying the Field: Applications of AI that Every Scholar Can Use</h4>
                <p>description</p>
                
              </div>
            </div>
             
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schedule Day 2 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-2">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>September 3, 2025, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>The Anatomy of a Chatbot</h4>
                <p>description</p>
                
              </div>
            </div>
             
          </div>
          <!-- End Schdule Day 2 -->

          <!-- Schedule Day 3 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-3">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>October 15, 2025, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>AI and Scholarly Research</h4>
                <p>description</p>
                
              </div>
            </div>
             
          </div>
          <!-- End Schdule Day 3 -->

          <!-- Schedule Day 4 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-4">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>November 12, 2025, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>From Proof of Concept to Research Software </h4>
                <p>description</p>
                
              </div>
            </div>
             
          </div>
          <!-- End Schdule Day 4 -->

          <!-- Schedule Day 5 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-5">
             
              <div class="row schedule-item">
              <div class="col-md-2"><time>December 10, 2025, 3-4 pm</time></div>
              <div class="col-md-10">
                <h4>Evaluation and Iterative Development with AI</h4>
                <p>description</p>
                
              </div>
            </div>
             
          </div>
          <!-- End Schdule Day 5 -->
          
        </div>

      </div>

    </section><!-- End Schedule Section -->
