<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center" >

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        {# <h1><a href="index.html">The<span>Event</span></a></h1> #}
        <img src="{{ '/assets/img/PUL-logo.png' | locale_url }}" alt="Logo" class="img-fluid">
        <a href="{{ '/' | locale_url }}" class="scrollto"></a>
      </div>
      
      <nav id="navbar" class="navbar">
       
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
     

    </div>
  </header><!-- End Header -->

      
